<div class="container sort-block-container">
  <p>Sorting by:</p>
  <div class="sorting-param">
    <ul>
      <li [ngClass]="{'desc-sort': sortSearch.dataSort === 'desc','asc-sort': sortSearch.dataSort === 'asc'}"
        (click)="sortSearch.sortDate('data')">date</li>
      <li [ngClass]="{'desc-sort': sortSearch.sortByCount === 'desc','asc-sort': sortSearch.sortByCount === 'asc'}"
       (click)="sortSearch.sortCount('count')">count of views</li>
      <li (click)="sortSearch.sortDate('tags')">by word or sentance</li>
    </ul>
  </div>
  <label>
    <input type="text">
  </label>
</div>