.user-name {
  margin-right: 8px;
  font-size: 12px;
  color: #4F4F4F;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-icon {
  width: 24px;
  height: 24px;
  background: url(../../../../../assets/header/profileIcon.svg) center no-repeat;
  cursor: pointer;
}

.auth {
  height: 24px;
  padding: 0 15px;
  margin: 0 5px;
  color: #fff;
  filter: var(--mainFilter);
  background-color: var(--blueColor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth:hover {
  filter: brightness(110%);
}