.info-block, .info {
  display: flex;
  justify-content: center;
}

.info-block {
  margin-bottom: 20px;
}

.info {
  margin-right: 15px;
}

.info:last-child {
  margin-right: 0;
}

.info img {
  margin-right: 3px;
}