<header>
  <div class="container main-header-container">
    <div class="search-header-block">
      <a class="logo" href="#"></a>
      <label>
        <input class="search-input" type="text" name="" id="">
      </label>
      <button class="search-button" (click)="displaySearchResult()">search</button>
      <button class="setting" (click)="toggleSortSettings()"></button>
    </div>
    <app-profile-panel></app-profile-panel>
  </div>
  <app-sort-panel *ngIf="isSettingsVisible"></app-sort-panel>
</header>