<main class="container">
  <button (click)="goBack()"></button>
  <div class="main-container">
    <div class="video-block">
      <img src={{videoInfo.snippet.thumbnails.maxres.url}}>
    </div>
    <div class="video-info" appBorderDependingOnTheDate={{videoInfo.snippet.publishedAt}}>
      <div class="video-title-block">
        <h2>{{videoInfo.snippet.title}}</h2>
        <p>{{videoInfo.snippet.publishedAt | date : 'fullDate'}}</p>
      </div>
      <h4>Description:</h4>
      <p class="description-text">{{videoInfo.snippet.description}}</p>
      <app-video-info [videoInfo]="videoInfo"></app-video-info>
      </div>
  </div>
</main>