<main class="container">
  <button></button>
  <div class="main-container">
    <div class="video-block">
      <video src=""></video>
    </div>
    <div class="video-info">
      <div class="video-title-block">
        <h2>Kuji Podcast #20</h2>
        <p>Thursday, December 20, 2019</p>
      </div>
      <h4>Description:</h4>
      <p class="description-text">This Is KuJi Podcast. In this issue, Timur karginov, Andrey Konyaev and Nurlan Saburov discuss the end of 2018:
        Khabib's fight with McGregor, Kokorin and Mamayev, Urgant's show on channel One, the economic crisis and gifts for
        loved ones.</p>
        
        <app-video-info></app-video-info>
      </div>
  </div>
</main>