<div class="info-block">
  <div class="info view-block">
    <img class="info-icon" src="../../../assets/search/viewed.svg" alt="viewed">
    <p>{{videoInfo.statistics.viewCount | videoInfoConvert}}</p>
  </div>
  <div class="info like-block">
    <img class="info-icon" src="../../../assets/search/liked.svg" alt="like">
    <p>{{videoInfo.statistics.likeCount | videoInfoConvert}}</p>
  </div>
  <div class="info dislike-block">
    <img class="info-icon" src="../../../assets/search/dislike.svg" alt="dislike">
    <!-- <p>{{videoInfo.statistics.dislikeCount | videoInfoConvert}}</p> -->
  </div>
  <div class="info comments-block">
    <img class="info-icon" src="../../../assets/search/comments.svg" alt="comments">
    <p>{{videoInfo.statistics.commentCount | videoInfoConvert}}</p>
  </div>
</div>